/*******************************/
/* HERO SECTION */
/*******************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-text-box {
  margin-top: 4rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
}

/*******************************/
/* NAVIGATION */
/*******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*******************************/
/* FEATURED IN  */
/*******************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*******************************/
/* HOW IT WORKS */
/*******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 70%;
  padding-bottom: 70%;
  border-radius: 50%;

  background-color: #fdf2e9;
  position: absolute;
  z-index: -1;
}

.step-img-box::after {
  content: "";
  display: block;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;

  background-color: #f5e4d6;
  position: absolute;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/*******************************/
/* MEALS */
/*******************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.3);
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  overflow: hidden;
  margin-bottom: 4.8rem;
  transition: all 0.4s;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

*:focus {
  outline: none;
  outline: 4px dotted #e67e22;
  /* outline-offset: ; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/*******************************/
/* TESTIMONIALS */
/*******************************/

.section-testimonials {
  /* padding: 9.6rem 0; */
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-container {
  /* padding: 9.6rem; */
  /* padding: 9.6rem 0; */
  padding: 9.6rem;
  /* align-items: center;
  justify-content: center; */
  align-self: center;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  align-content: center;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*******************************/
/* PRICING */
/*******************************/
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plans {
  border: 11px;
  width: 75%;
}

.pricing-plans--starter {
  justify-self: end;
  border: 4px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plans-complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plans-complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -20%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: yellow;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  /* color: #333; */
  margin-bottom: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*******************************/
/* CTA */
/*******************************/

.section-cta {
  padding: 9.6rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2e1907;
}

.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
  line-height: 1.8;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn {
  font-weight: 700;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*******************************/
/* FOOTER */
/*******************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #cf711f;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p:first-child {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}

.footer-link:active,
.footer-link:hover {
  color: #555;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.header.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  /* background-color: rgb(255, 255, 255, 0.97); */
  z-index: 999;
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); */
}
